{{- if .Values.configMap }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "lightdash.fullname" . }}
  labels:
    {{- include "lightdash.labels" . | nindent 4 }}
data:
  # -- The hostname of the PostgreSQL database
  PGHOST: {{ include "lightdash.database.host" . }}
  # -- The username for the lightdash account in the PostgreSQL database
  PGUSER: {{ include "lightdash.database.user" . }}
  # -- The database port of the PostgreSQL database
  PGPORT: {{ include "lightdash.database.port" . | quote }}
  # -- The name of the PostgreSQL database
  PGDATABASE: {{ include "lightdash.database.name" . }}
  HEADLESS_BROWSER_HOST: {{ include "lightdash.headlessBrowser.host" . }}
  HEADLESS_BROWSER_PORT: {{ include "lightdash.headlessBrowser.port" .  | quote }}
  {{- toYaml .Values.configMap | nindent 2 }}
{{- end }}