apiVersion: v1
kind: Service
metadata:
  name: {{ template "lightdash.fullname" . }}
  {{- if .Values.backendConfig.create }}
  annotations:
    cloud.google.com/backend-config: '{"default": "{{ include "lightdash.backendConfigName" . }}"}'
  {{- end }}
  labels:
    {{- include "lightdash.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "lightdash.backendSelectorLabels" . | nindent 6 }}
