# -- The configmap values are passed in as environment variables to the lightdash container.
configMap:
  # -- The hostname of the PostgreSQL database
  PGHOST: localhost
  # -- The username for the lightdash account in the PostgreSQL database
  PGUSER: lightdash
  # -- The database port of the PostgreSQL database
  PGPORT: "5432"
  # -- The name of the PostgreSQL database
  PGDATABASE: lightdash
  # -- Secure Cookies
  SECURE_COOKIES: "false"
  # -- Trust the reverse proxy when setting secure cookies (via the "X-Forwarded-Proto" header)
  TRUST_PROXY: "false"
  # -- Port for lightdash
  PORT: "8080"
  # -- Path to your local dbt project. Only set this value if you are mounting a DBT project
  DBT_PROJECT_DIR: ""

# -- The secret values are passed in as environment variables to the lightdash container. You may also supply these outside of helm by commenting out the secrets key and values and separately creating a secret named `<release-name>-lightdash`.
secrets:
  # -- The password for the ligthdash account in the PostgreSQL database
  PGPASSWORD: changeme
  # -- 	This is the secret used to sign the session ID cookie and to encrypt sensitive information. Do not share this secret!
  LIGHTDASH_SECRET: changeme


# -- Specify the number of lightdash instances.
replicaCount: 1

image:
  repository: lightdash/lightdash
  pullPolicy: IfNotPresent
  # -- Override the image tag
  tag: "latest"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false
  className: ""
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}
